My workflow 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "53114213-5649-4652-979d-f95fe2a8d2e4",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{$json.id}}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|status",
              "statusValue": "VENCIDA"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        640,
        -96
      ],
      "id": "cf6226d2-cc29-4131-ad7b-50da7e0a5bfa",
      "name": "Update a database page",
      "credentials": {
        "notionApi": {
          "id": "Bd1BC05CqPTjb94l",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8247f20b-5f93-4ad0-bc18-c37388ca5f3c",
              "leftValue": "={{$json.property_status}}",
              "rightValue": "=Pendente",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "a5e6cad8-3050-41f9-be00-3c82221c66bb",
              "leftValue": "={{$json.property_vencimento.start}}",
              "rightValue": "={{$now}}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "88424afc-843d-44bb-9682-6e827f40b064",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "344f8556-a03c-8030-b9a1-e4fffe3fe3de",
          "mode": "list",
          "cachedResultName": "Gastos",
          "cachedResultUrl": "https://www.notion.so/344f8556a03c8030b9a1e4fffe3fe3de"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "dbe93c67-4257-446b-98b6-4a1ff36907a6",
      "name": "Get many database pages",
      "credentials": {
        "notionApi": {
          "id": "Bd1BC05CqPTjb94l",
          "name": "Notion account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many database pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many database pages": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5fa5fbe4-34aa-4113-9616-f662c69a5e0f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1a88619eb66505e41477f51ae5ca1525796c9b9efd5d2e1998a22e76fd241e08"
  },
  "id": "tiaFweHsq8vu3P1K",
  "tags": []
}